# Entornos virtuales
venv/
env/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Configuraciones de editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración personales
*.env
